
.image{
	width:100px;
	height:100px;

}

.add_friends p{
	position:relative;
	top:10px;
	font-size:14px;
	color:black;
}
table{
	position:fixed;
	top:80px;
	height:600px;
}
.video { 
	width: 300px;height: 400px; 

	position:fixed;
	top:60px;
}
.image{
	position:fixed;
	top:160px;
	left: 400px;
	width: 300px;
	height:300px;
}
body{
	background-color: #ecf0f1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.outer-wrapper{
	width: 100%;
	height: auto;

	font-family: "Segoe UI";
}
.inside-wrapper{
	max-width: 1140px;
	padding:20px;


	height: auto;
	margin: 0 auto;
	margin-top: 100px;
}
.slide-outer-container{
	width: 960px;


	border-radius: 5px;
	margin: 0 auto;

}
.crud{
	font-family: serif;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: steelblue;
	margin-right: 5px;
}
.slide-block{
	margin-right: 10px;
	
	width: 32%;
	display: inline-block;
	z-index: 2;
	height: 290px;
	right: 0px;
	background-color: white;
	margin-bottom: 10px;
	display: inline-block;
}
.sample{
	position: relative;
	display: inline-block;
	top:0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 270px;
	width: 100%;
}
.audio{
	position: relative;
	display: inline-block;
	top:0px;
	left: 0px;
	right: 0px;
	bottom: 270px;
	height: 20px;
	width: 100%;
}
.media{
	position: relative;
	display: inline-block;
	top:0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 290px;
	width: 100%;
}
#header{
	position: relative;
	margin-top: -8px;
	margin-left: -8px;
	height: 50px;
	width: 100%;
	z-index: 2000;
	background-color: rgb(32,66,99);
}


#web_name{
	position: absolute;
	left:80px;
	top:6px;
	width: 600px;
	font-family: serif;
	font-size: 32px;
	color: white;
	
}

p{
	position: absolute;
	font-family: serif;
	color: white;
	left:300px;
	top:6px;
	font-size:28px;
}
#uploads{
	position:fixed;
	top:130px;
	border: 1px solid blue;
	border-radius: 5px;
	background-color: powderblue;
	left: 100px;
	width:300px;
}
h2{
	position: fixed;
	font-family: serif;
	color:blue;
	left:320px;
	top:70px;

	font-size:24px;
}
.links a:visited{
	color:white;
}
.links{
	
	text-decoration: none;
	top:14px;
	border:1px blue;
	border-radius: 3px;		
	background-color: orange;
	font-size: 16px;
	padding: 2px;
	font-family: serif;
	
}
#upload_link{
	position: fixed;
	right: 100px;
	text-decoration: none;
	color: white;
	padding: 2px;
	width: 55px;
	

	
}
a{
	text-decoration: none;
}
#my_uploads_link{
	position: fixed;
	right: 160px;
	text-decoration: none;
	color: white;
	padding: 2px;
	right:167px;
	width: 85px;
	
	
}
#logout_button{
	position: fixed;
	right:40px;
	
	top:14px;
	color:white;
	border:1px blue;
	border-radius: 3px;		
	background-color: orange;
	font-size: 16px;
	padding: 2px;
	font-family: serif;
	text-decoration: none;

}
